# WhatsApp Business Cloud API (oficial)
WA_TOKEN=coloque_o_token_permanente_da_WABA
WA_PHONE_ID=coloque_o_ID_do_numero
WA_TEMPLATE=nome_do_template_aprovado
WA_LANG=pt_BR
# Webhook / server
WA_VERIFY_TOKEN=larcia
PORT=8787
